html{
  background: #1D1E2A
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td{
  margin: 0;
  padding: 0;
 }
div{
  
  margin-left: auto;
  margin-right: auto;
  display: block;
  vertical-align: middle;
}
body{
  background: #1D1E2A ;
  width: 750px;
  color: #880000;
  font: 13px/1.231 arial,helvetica,clean,sans-serif;
  font-size: 13px;
  padding: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  vertical-align: middle;
}
.box-outer {
  zoom:100%;
  margin: 0;
  padding: 0;
 }
 .boxbar {
  position: relative;
  background: #1D1E2A ;
  color: #A88085;
  line-height:2em;
  text-align: left;
 }
 .boxcontent {
  
  padding:.5em;
  padding-top:.25em;
  padding-bottom:0;
  line-height:130%;
  color: #A88085;
  text-align: left;
  background: #14151F;

}
  .top-box {
    background:#14151F;
   }
   #doc{
    margin: auto;
    text-align: left;
    width: 57.69em;
    *width: 56.301em;
    min-width: 750px;
   }
  #announce{
    background: #14151F;
    color: #000;
    line-height: 1.5em;
  }
  #wot-cnt {
    min-height: 91px;
}
#stuff .column {
  float: left;
  width: 11.33em;
  padding-bottom:5px;
  background: inherit;
}
h3 {
  color:#CCCCB4;
}
li {
  list-style: none;
}
#stuff a{
  color:#A88085;
  text-decoration: none;
}
.footer {
  background:inherit;
}
#stuff .boxcontent {
  overflow: hidden;
}
h3{
  font-size: 14px;
}
 a:hover:after {
  
  display: block;
}
a>div { display: none; }
a:hover>div { display: block; }